.tipCalculate {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 30rem;
    max-width: 30rem;
    font-size: 1.8rem;
    color: hsl(184, 14%, 56%);
    font-weight: 700;
}

.tip{
    display: inherit;
    flex-direction: column;
    gap: 2rem;
}

.tip div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.tip button {
    padding: 1rem 2.4rem;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    border-width: 0;
    border-style: none;
    font-weight: 700;
    font-size: 1.8rem;
    border-radius: 10px;
    cursor: pointer;
}

.input {
    display: flex;
    border-radius: 10px;
    padding: .5rem 1rem;
    justify-content: space-between;
    background-color: hsl(189, 41%, 97%);
    align-items: center;
}

.input img {
    width: 1.5rem;
    height: 2.5rem;
}

.input input {
    background-color: inherit;
    color: hsl(184, 14%, 56%);
    border: none;
    padding: inherit;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem ;
    cursor: pointer;
    /* text-align: center; */
}

.input input:focus-visible {
    border: none;
    outline: none;
}

.customInput{
    background-color: hsl(189, 41%, 97%);
    width: 100%;
    border: none;
    padding: inherit ;
    text-align: right;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.customInput:focus-visible {
    border: none;
    outline: none;
}

.customInput[type="number" i], .input input:focus-visible[type="number" i] {
    font-size: 1.8rem;
    font-weight: 700;
    /* padding: .5rem ; */
    color: hsl(183, 100%, 15%);
}

@media only screen and (max-width:768px) {
    .tip div {
        grid-template-columns: 1fr 1fr;
    }
}
